.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
*.ipr
*.iws
.idea/
.vscode/
build/
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
*.xcworkspace
!default.xcworkspace
artifacts/
*.apk
*.ipa
